.logo--admin {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.css-3hq6cb:hover, .css-3hq6cb[data-hover] {
  background: transparent !important;
}

.css-3hq6cb:active, .css-3hq6cb[data-active] {
  background: transparent !important;
}
